.cart {
  background-color: var(--white);
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 300px;
  top: 130px;
  right: 30px;
  border-radius: 10px;
}

.empty-cart {
  display: flex;
  height: 170px;
  align-items: center;
  justify-content: center;
}

.cart h3 {
  font-size: 14px;
  padding: 10px 20px;
  margin-bottom: 10px;
}

.info-cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;

  color: var(--dark-grayish-blue);
  font-size: 12px;
}

.info-cart .shoes {
  width: 50px;
  border-radius: 5px;
}

.details-cart .details-cart-total {
  font-weight: bold;
}

.delete-icon {
  width: 15px;
}

.delete-icon:hover {
  cursor: pointer;
}

.checkout {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
  margin-bottom: 30px;
}